.mn-content {
  padding: 15px;
  max-width: 960px;
  // TODO: Bundle the correct way. This should be done in mn-gulp.
  background-image: url('http://i40.tinypic.com/2ho9szs.gif');

  margin: 10px;
  border: none;

  &.selected {
    margin: 0px;
    border: 10px solid black;
  }
}
