.mn-box > * {
  margin: 5px;
  border: none;

  &:hover {
    margin: 0px;
    border: 5px solid black;
  }

  &.active {
    margin:0px;
    border: 5px solid gold;

//    TODO: Refactor.
    &:hover {
      margin: 0px;
      border: 5px solid black;
    }
  }
}
